
<div id="homepage">
	<div  class="container ">
		<div class="row">
			<div class="col-lg-6  col-sm-12" id="introTextDiv">
				<h4 class="introText" style="text-align:justify;padding:0px 20px;line-height:36px;color:red">QLEZ is an integrated product using cutting edge technologies which is an implementation of IOT (internet of things). To put in a nutshell, the product is a combination of hardware and software which will replace the existing system from the super markets right from the inventory purchase to the point to selling the product to customers.</h4>
			</div>
			<div class="col-lg-5 col-sm-12" id="introButton">
				<button class="hvr-float-shadow button_home_style" ng-click="vm.login()" >Go For Login  
				<i class="fa fa-user-circle" aria-hidden="true"></i></button>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-3"></div>
		</div>
	</div>	 
</div>